export("as.Date<-")
export("compute<-")
export("dropContents<-")
export("setContents<-")
export(buildContents)
export(Dasst)
export(gatherTables)
export(getContents)
export(read.dssat)
export(stackTables)
export(summary)
export(write.dssat)
exportClasses(Dasst)
exportMethods("[")
exportMethods("[<-")
exportMethods("as.Date<-")
exportMethods("compute<-")
exportMethods("dropContents<-")
exportMethods("setContents<-")
exportMethods(getContents)
exportMethods(summary)
importFrom(methods,"slot<-")
importFrom(methods,as)
importFrom(methods,new)
importFrom(methods,setAs)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,setReplaceMethod)
importFrom(methods,slot)
importFrom(methods,slotNames)
importFrom(methods,validObject)
importFrom(stats,model.frame)
S3method("length<-",Dasst)
S3method(length,Dasst)
S3method(print,Dasst)
S3method(print,summary.Dasst)
S3method(summary,Dasst)
